@import '../Utilities.scss';

.menu-center{
    border: 1px solid white;
    width: 100vh;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        height: 300px;
        width: 450px;
    }

    .title-enter{
        font-family: 'Faster One', cursive;
        transition: all 300ms;
        

        &:hover{
            
            color:$skytel;
        }
    }

    a{
        transition: all 300ms;
        text-decoration: none;
        color: rgb(77, 77, 77);
        font-size: 2.4rem;

    }
}
