
$border : 1px solid black;
$skytel: #061421;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


//FLEX

.flex-center{

    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-center-column{

    display: flex;
    
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid black;
}

//WIDTHS

.w-90{
 width: 90%;
}


//TEXT
.text-center{
    text-align: center !important;
}

.css-xumdn4, .css-1zts0j{
    text-align: center !important;
}


//MARGIN
.mt-5 {
    margin-top: 1.5rem;
}



.css-xumdn4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px !important;
    color: rgb(6, 6, 74);
}


